*{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 35px;
  color: rgb(2, 2, 71);
  background-color: rgb(233, 97, 235);
  padding: 10px;
  margin-bottom: 5px;
}

h2 {
  font-size: 22px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div_1 {
  margin-bottom: 10px;
  padding-left: 15px;
  text-align: left;
}


.button_1 {
  background-color: rgb(114, 7, 104);
  color: white;
  border: none;
  min-height: 35px;
  width: auto;
  min-width: 180px;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

.button_1:hover{
background: rgb(237, 11, 214);
color:rgb(0, 0, 0)
}


textarea{
  width: 98%;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding:10px;
  max-height: 40%;
}

select, input{
  background-color: rgb(229, 225, 225);
  color: black;
  border: 1px solid rgb(30, 3, 93);
  min-height: 18px;
  width: auto;
  min-width: 100px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.para_1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-style: italic;
  text-align: left;
}

.footer {
  margin-top: 5px;
  background-color: rgb(12, 2, 57);
  color: white;
  font-size: 15px;
  padding: 8px;
  height: 20px;
  font-style: italic;
}